# Exclude data directories
###
# Exclude target directories (Rust build artifacts)
target/

# Exclude Git metadata
.git/

# Exclude local environments
chopchop/chopchop_env/

# Exclude other unnecessary files
*.logif (args.scoringMethod == "DOENCH_2016" or ar
*.tmp
chopchop/config.json
