/target/
/*.lock
.idea/
/chopchop/config.json
/chopchop/gene_table.csv
/chopchop/hg38.1.ebwt
/chopchop/hg38.2.ebwt
/chopchop/hg38.2bit.1
/chopchop/hg38.3.ebwt
/chopchop/hg38.4.ebwt
/chopchop/hg38.rev.1.ebwt
/chopchop/hg38.rev.2.ebwt
/chopchop/mountain.pl
/chopchop/README.md
chopchop/hg38.2bit
chopchop/hg38.fa
chopchop/hg38.gene_table
validator/output
venv/
*.pyc
/validator/target
processed_data/chopchop_avana-depmap_results.csv
/shelf
/validator/Cargo.lock
/data/depmap/AvanaGuideMap_23Q4.csv
/data/depmap/CRISPRInferredGuideEfficacy_23Q4.csv
/results_deepcrispr_prediction/calibrated/precision_recall_overall.png
/results_deepcrispr_prediction/calibrated/roc_curve_overall.png
/results_deepcrispr_prediction/mapping/calibration_curve.png
/results_deepcrispr_prediction/mapping/calibration_table.csv
/results_deepcrispr_prediction/mapping/mapping_scatter_regression.png
/results_deepcrispr_prediction/mapping/reversed_calibration_curve_with_distribution.png
/results_deepcrispr_prediction/mapping/reversed_calibration_table.csv
/processed_data/chopchop_genome_cirspr_short.csv
/data/*
/deepcrispr_processed_data/*
/DeepCRISPR/
/mageck/
